
body{
	font-family: 'Quicksand', sans-serif;
}

#social-container{
	background-color: #9B0008;
	color: white;
}

#social-container i{
	color: white;
	font-size: 30px;
}
#menu-container{
	background-color: #331C34;
}
#menu-container li a{
	color: white;
	border: 0;
}
#menu-container a:hover{
	border: 1px solid #9676af;
	transition: 0.5s;
}
#portada h3,h4{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}
#portada img{
height: 160px;
margin: 100px 0 100px 0;
}

#episcopado{
	background-color: #331C34;
	color: white;
	
}
#episcopado h4{
	padding-top:50px;
	padding-bottom: 20px;
	margin-right: 20%;
	margin-left:20%;
	
}

#episcopado:hover h4{
	padding-top:50px;
	padding-bottom: 20px;
	margin-right: 20%;
	margin-left:20%;
	border-bottom: 4px solid;
	transition: 1s;
}


/*clero*/

#clero {
	padding-top:50px;
	padding-bottom: 20px;
	margin-right: 20%;
	margin-left:20%;
	transition: 1s;
}
#lineup-container:hover #clero {
	padding-top:50px;
	padding-bottom: 10px;
	margin-right: 20%;
	margin-left:20%;
	border-bottom: 4px solid;
	transition: 1s;
}

#lineup-container,
#lineup-container .tabs-panel,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title,
#lineup-container .tabs .tabs-title.is-active a{
	background-color: #9676af;
	color: white;
	border: 0;
	margin-bottom: 0;
	font-family: 'Quicksand', sans-serif;
	
}

.tabs-content{
	border: 0px;
}
#lineup-container{
	padding: 20px;
}


#lineup-container .tabs .tabs-title a {
	font-size: 18px;
	color: #331C34;
	
}

#lineup-container .tabs .tabs-title a:hover {
	color: white;
	background-color:#9676af;
}

.tabs-title{
	display: inline-block;
	float: none;
}

#lineup-container .orbit-container{
	margin-bottom: 1em;
	height: auto;
}

#lineup-container .column:nth-child(odd) figcaption{
	text-align: center;
}
.orbit-container img{
	display: inline-block;
}
.orbit-image{
	width: 60%;
}
/*parroquias*/


#parroquias h6,h5,h4,h7{
	font-family: 'Quicksand', sans-serif;
}
#parroquias img{
	width: 80%;
	margin:10%;
	margin-bottom: 0%;
	margin-top: 0%;
}
#parroquias .column{
	margin-bottom: 5%;
}
#parroquias h4{
	padding-top: 5%;
	margin-bottom: %;
	margin-left:30%; 
	margin-right: 30%;
	transition: 1s;
}
#parroquias:hover h4{
border-bottom: 4px solid;
transition: 1s;	
}
#parroquias h5{
	margin-left:5%; 
	margin-right: 5%;
	margin-bottom: 5%;
	font-family: 'Quicksand', sans-serif;
}
/*parroquias*/

/*clero*/

#arley{
	background-color: #8c99aa;
	color: white;
}
#arley h4{
border-bottom: 4px solid #331C34;
margin-right: 20%;
margin-left: 20%;
}
#darwin h4{
border-bottom: 4px solid #331C34;
margin-left: 20%;
margin-right: 20%;
}
#seminario h4{
	padding-top: 50px;
	padding-bottom: 10px;
	margin-right: 20%;
	margin-left:20%;
	
	transition: 1s;
}

#seminario:hover h4{
border-bottom: 4px solid #9676af;
	
}
/*jesusbuenpastor*/
/*#jesusbuenpastor{
	background-color: #9676af;
}*/
#jesusbuenpastor figcaption{
	background-color: none;
	height: 100%;
	
}
#jesusbuenpastor #header{
margin-bottom: 20px;	
	
}
/*jesusbuenpastor*/
@media screen and (max-width: 400px) {

#offCanvas{
	background-color: #331C34;
	color: white;
}
#offCanvas a{
	color: white;
}

#offCanvas img{
	max-width: 25%;
	padding-bottom: 20px;
	padding-top: 20px;
}

