

#social-container{
	background-color: #4267b1;
	color: white;
}

#social-container i{
	color: white;
	font-size: 30px;
}
#menu-container{
	background-color: #89469b;
}
#menu-container li a{
	color: white;
	border: 0;

}
#saludo h3, h6{
	color: #89469b;
}

#noticias{
	background-image: url(../images/cruz.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	border-color:1px solid white;
	padding: 3em 0 3em 0;

}
#noticias h2{
	padding-top: 0px;
}
#noticias h4{
	padding-bottom : 0px;
	font-size: 5em;
}
.tituloa{
	background-color: #89469b;
	color: white;
	margin: 0;

}
.centrado{
	padding: 4em;
}
.button{
	border:1px solid white;
	margin-bottom: 0;
}
.button:hover{
	background-color: #4267b1;

}

.t1,.t2,.t3,.t4,.t5,.t6,.t7,.t8{
	color: white;
	text-align: justify;
	padding: 2em 0 2em 0;
}
.t1{
	background-color: #4267b1;	
}
.t2{
	background-color: #6b4a22;	
}
.t3{
	background-color: #692265;
}
.t4{
	background-color: #6a6396;
}
.t5{
	background-color: #9d1c20;
}
.t6{
	background-color: #350f32;	
}
.t7{
	background-color: #3e6b33;		
}
.t8{
	background-color: #4267b1;
}
#episcopado{
	background-color: #4267b1;
	color: white;
}
.tituloe{
	background-color: #89469b;
	color: white;
}
.episcopado{
	padding-top: 2em;
}
#footer{
background-color: #7e76b7;
color: white;
}

#footer-container,
#footer-container h6 {
	background-color: #4267b1;
	color: white;
}

@media screen and (max-width: 400px) {

#noticias h4{
	padding : 0px;
	font-size: 2em;
}
#noticias h5{
	padding : 0px;
	font-size: 1em;
}
#saludo p{
	font-size: 15px;
}


#footer-container h6, h5 {
	
	font-size: 10px;
}

#offCanvas{
	background-color: #4267b1;
	color: white;
}
#offCanvas a{
	color: white;
}
.logo-menu{
	background-color: white;
}