
body{
	font-family: 'Quicksand', sans-serif;
}

#social-container{
	background-color: #9B0008;
	color: white;
}

#social-container i{
	color: white;
	font-size: 30px;
}
#menu-container{
	background-color: #331C34;
}
#menu-container li a{
	color: white;
	border: 0;
}
#portada h3,h4{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}
#portada img{
height: 160px;
margin: 100px 0 100px 0;
}

#episcopado{
	background-color: #331C34;
	color: white;
	
}
#episcopado h4{
	padding: 50px;
}

@media screen and (max-width: 400px) {

#offCanvas{
	background-color: #331C34;
	color: white;
}
#offCanvas a{
	color: white;
}




